In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
redfin_file = 'CSVs/Redfin_Scrape.csv'
trulia_file = 'CSVs/Trulia_Scrape.csv'
hf_file = 'CSVs/HomeFinder_Scrape.csv'

redfin_df = pd.read_csv(redfin_file)
trulia_df = pd.read_csv(trulia_file)
hf_df = pd.read_csv(hf_file)

In [3]:
redfin_df.columns, trulia_df.columns, hf_df.columns

(Index(['Unnamed: 0', 'Price', 'Address', 'City', 'Zip Code', '# of Beds',
        '# of Baths', 'sqft'],
       dtype='object'),
 Index(['Unnamed: 0', 'Price', '# of Beds', '# of Baths', 'sqft', 'Address',
        'City'],
       dtype='object'),
 Index(['Unnamed: 0', 'Price', '# of Beds', '# of Baths', 'Address', 'City',
        'Zip Code'],
       dtype='object'))

In [4]:
hf_df

Empty DataFrame
Columns: [Unnamed: 0, Price, # of Beds, # of Baths, Address, City, Zip Code]
Index: []

In [10]:
trulia_df

,Unnamed: 0,Price,# of Beds,# of Baths,sqft,Address,City
0,0,245000,4.0,2.0,2200,2827 Curvilinear Ct,Dallas
1,1,475000,3.0,2.0,2089,7036 Winchester St,Dallas
2,2,275000,4.0,2.0,1800,132 W Woodin Blvd,Dallas
3,3,209900,3.0,2.0,1902,7311 Hardwood Trl,Dallas
4,4,225000,5.0,2.0,2500,2720 E Atoll Dr,Dallas
...,...,...,...,...,...,...,...
235,235,425000,4.0,2.0,2666,3817 Harrison Dr,Carrollton
236,236,350000,4.0,3.0,2368,2517 Rosebud Cir,Carrollton
237,237,399900,4.0,3.0,2723,4216 Eastwood Dr,Carrollton
238,238,398750,4.0,3.0,2347,1514 Northland St,Carrollton
239,239,310000,2.0,3.0,1940,4121 Indian Run Dr,Carrollton

In [6]:
redfin_df

,Unnamed: 0,Price,Address,City,Zip Code,# of Beds,# of Baths,sqft
0,0,"$564,900",7200 Neches Pine Dr,"Frisco, TX",75036,3 Beds,2.5 Baths,"2,997 Sq. Ft."
1,1,"$930,000",4520 Florence Dr,"Frisco, TX",75034,3 Beds,3.5 Baths,"4,228 Sq. Ft."
2,2,"$305,000",8016 Cool River Dr,"Frisco, TX",75036,2 Beds,2 Baths,"1,548 Sq. Ft."
3,3,"$549,900",13942 Badger Creek Dr,"Frisco, TX",75033,5 Beds,3.5 Baths,"3,556 Sq. Ft."
4,4,"$423,550",1924 Dexter Ln,"Frisco, TX",75036,3 Beds,2 Baths,"1,970 Sq. Ft."
5,5,"$599,900",11761 Orange Ct,"Frisco, TX",75035,4 Beds,3 Baths,"3,676 Sq. Ft."
6,6,"$520,000",1946 Countryside Dr,"Frisco, TX",75036,5 Beds,3.5 Baths,"3,936 Sq. Ft."
7,7,"$774,900",16372 Lorna Doone Ln,"Frisco, TX",75033,5 Beds,4.5 Baths,"4,147 Sq. Ft."
8,8,"$869,900",12977 Railhead Ct,"Frisco, TX",75033,3 Beds,3.5 Baths,"3,432 Sq. Ft."
9,9,"$274,900",6959 Maple St,"Frisco, TX",75033,3 Beds,2 Baths,"1,533 Sq. Ft."
10,10,"$479,000",9629 Planters Row Dr,"Frisco, TX",75033,4 Beds,3.5 Baths,"3,600 Sq. Ft."
11,11,"$465,000",11566 Caladium Ln,"Frisco, TX",75035,4 Beds,3.5 Baths,"3,178 Sq. Ft."
12,12,"$1,099,000",5125 Normandy Dr,"Frisco, TX",75034,5 Beds,4.5 Baths,"5,855 Sq. Ft."
13,13,"$1,299,000",12684 Riverhill Rd,"Frisco, TX",75033,5 Beds,6 Baths,"4,854 Sq. Ft."
14,14,"$889,000",5358 Moss Glen Dr,"Frisco, TX",75034,5 Beds,3.5 Baths,"4,165 Sq. Ft."
15,15,"$489,900",1090 Frisco Ranch Rd,"Frisco, TX",75033,4 Beds,3.5 Baths,"2,845 Sq. Ft."
16,16,"$449,900",9991 Slick Rock Trl,"Frisco, TX",75033,4 Beds,2.5 Baths,"2,574 Sq. Ft."
17,17,"$325,000",13160 Guerin Dr,"Frisco, TX",75035,4 Beds,2 Baths,"2,073 Sq. Ft."
18,18,"$340,000",6848 Regello Dr,"Frisco, TX",75034,2 Beds,2.5 Baths,"1,818 Sq. Ft."
19,19,"$350,000",9758 Golden Fountain Dr,"Frisco, TX",75033,4 Beds,2 Baths,"2,096 Sq. Ft."
20,20,"$439,900",7601 Blossom Ln,"Frisco, TX",75034,3 Beds,2.5 Baths,"2,383 Sq. Ft."
21,21,"$445,900",12004 Rushing Creek Dr,"Frisco, TX",75035,4 Beds,3.5 Baths,"2,860 Sq. Ft."
22,22,"$900,000",6198 Rachel Dr,"Frisco, TX",75034,4 Beds,4 Baths,"4,967 Sq. Ft."
23,23,"$375,000",5904 Louisville Dr,"Frisco, TX",75035,4 Beds,2 Baths,"2,027 Sq. Ft."
24,24,"$389,900",2910 Reynolds Ln,"Frisco, TX",75033,3 Beds,2 Baths,"2,236 Sq. Ft."
25,25,"$425,000",7927 Canal St,"Frisco, TX",75034,2 Beds,2.5 Baths,"1,706 Sq. Ft."
26,26,"$515,000",8326 Sitka St,"Frisco, TX",75035,4 Beds,2.5 Baths,"3,071 Sq. Ft."
27,27,"$339,999",12018 Chattanooga Dr,"Frisco, TX",75035,3 Beds,2 Baths,"1,417 Sq. Ft."
28,28,"$365,000",10045 Bell Rock Rd,"Frisco, TX",75035,3 Beds,2 Baths,"2,169 Sq. Ft."
29,29,"$380,000",5113 Treehouse Dr,"Frisco, TX",75036,4 Beds,2.5 Baths,"2,462 Sq. Ft."
30,30,"$1,199,000",5374 Moss Glen Dr,"Frisco, TX",75034,5 Beds,4 Baths,"4,472 Sq. Ft."
31,31,"$1,152,990",2481 Haft River Rd,"Frisco, TX",75034,5 Beds,4 Baths,"4,002 Sq. Ft."
32,32,"$5,100,000",7901 Windrose Ave #2204,"Plano, TX",75024,4 Beds,4.5 Baths,"5,392 Sq. Ft."
33,33,"$625,000",1745 Evening Star Rd,"Frisco, TX",75033,4 Beds,4.5 Baths,"3,412 Sq. Ft."
34,34,"$530,000",5498 Balmoral Dr,"Frisco, TX",75034,4 Beds,3.5 Baths,"3,027 Sq. Ft."
35,35,"$505,000",10196 Ferry Farm Ln,"Frisco, TX",75035,4 Beds,3.5 Baths,"3,102 Sq. Ft."
36,36,"$454,000",9723 Stratton Dr,"Frisco, TX",75035,4 Beds,3 Baths,"1,963 Sq. Ft."
37,37,"$420,990+",Perry,"Frisco, TX",75034,3 Beds,2.5 Baths,"2,227 Sq. Ft."
38,38,"$640,000",609 Quail Creek Dr,"Frisco, TX",75036,5 Beds,4 Baths,"3,372 Sq. Ft."
39,39,"$495,000",10302 Teal Hollow Dr,"Frisco, TX",75035,5 Beds,3.5 Baths,"3,251 Sq. Ft."
40,40,"$525,000",11775 Barrymore Dr,"Frisco, TX",75035,5 Beds,3.5 Baths,"3,128 Sq. Ft."

In [7]:
for i in hf_df.index:
    hf_df['City'][i] = hf_df['City'][i][:-4]
    hf_df['# of Beds'][i] = hf_df['# of Beds'][i][:hf_df['# of Beds'][i].find(' ')]
    hf_df['# of Baths'][i] = hf_df['# of Baths'][i][:hf_df['# of Baths'][i].find(' ')]
    hf_df['Price'][i] = hf_df['Price'][i].replace('$', '')
    hf_df['Price'][i] = hf_df['Price'][i].replace(',', '')
    
hf_df['# of Beds'] = hf_df['# of Beds'].astype(float)
hf_df['# of Baths'] = hf_df['# of Baths'].astype(float)
hf_df['Price'] = hf_df['Price'].astype(int)

hf_df

Empty DataFrame
Columns: [Unnamed: 0, Price, # of Beds, # of Baths, Address, City, Zip Code]
Index: []

In [8]:
for i in trulia_df.index:
    trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 2 : -4]
    trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 1 :]
    trulia_df['City'][i] = trulia_df['City'][i].lstrip()
    trulia_df['# of Beds'][i] = trulia_df['# of Beds'][i][:trulia_df['# of Beds'][i].find('b')]
    trulia_df['# of Baths'][i] = trulia_df['# of Baths'][i][:trulia_df['# of Baths'][i].find('b')]
    trulia_df['Price'][i] = trulia_df['Price'][i].replace('$', '')
    trulia_df['Price'][i] = trulia_df['Price'][i].replace(',', '')
    trulia_df['sqft'][i] = trulia_df['sqft'][i][:trulia_df['sqft'][i].find(' ')]
    trulia_df['sqft'][i] = trulia_df['sqft'][i].replace(',', '')
    
trulia_df['# of Beds'] = trulia_df['# of Beds'].astype(float)
trulia_df['# of Baths'] = trulia_df['# of Baths'].astype(float)
trulia_df['Price'] = trulia_df['Price'].astype(int)
trulia_df['sqft'] = trulia_df['sqft'].astype(int)

trulia_df

<ipython-input-8-4dbdeb9bf671>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 2 : -4]
<ipython-input-8-4dbdeb9bf671>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 1 :]
<ipython-input-8-4dbdeb9bf671>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['City'][i] = trulia_df['City'][i].lstrip()
<ipython-input-8-4dbdeb9bf671>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['# of Beds'][i] = trulia_df['# of Beds'][i][:trulia_df['# of Beds'][i].find('b')]
<ipython-input-8-4dbdeb9bf671>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['# of Baths'][i] = trulia_df['# of Baths'][i][:trulia_df['# of Baths'][i].find('b')]
<ipython-input-8-4dbdeb9bf671>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['Price'][i] = trulia_df['Price'][i].replace('$', '')
<ipython-input-8-4dbdeb9bf671>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['Price'][i] = trulia_df['Price'][i].replace(',', '')
<ipython-input-8-4dbdeb9bf671>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['sqft'][i] = trulia_df['sqft'][i][:trulia_df['sqft'][i].find(' ')]
<ipython-input-8-4dbdeb9bf671>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['sqft'][i] = trulia_df['sqft'][i].replace(',', '')

,Unnamed: 0,Price,# of Beds,# of Baths,sqft,Address,City
0,0,245000,4.0,2.0,2200,2827 Curvilinear Ct,Dallas
1,1,475000,3.0,2.0,2089,7036 Winchester St,Dallas
2,2,275000,4.0,2.0,1800,132 W Woodin Blvd,Dallas
3,3,209900,3.0,2.0,1902,7311 Hardwood Trl,Dallas
4,4,225000,5.0,2.0,2500,2720 E Atoll Dr,Dallas
...,...,...,...,...,...,...,...
235,235,425000,4.0,2.0,2666,3817 Harrison Dr,Carrollton
236,236,350000,4.0,3.0,2368,2517 Rosebud Cir,Carrollton
237,237,399900,4.0,3.0,2723,4216 Eastwood Dr,Carrollton
238,238,398750,4.0,3.0,2347,1514 Northland St,Carrollton
239,239,310000,2.0,3.0,1940,4121 Indian Run Dr,Carrollton

In [9]:
for i in redfin_df.index:
    redfin_df['City'][i] = redfin_df['City'][i][: -4]
    redfin_df['# of Beds'][i] = redfin_df['# of Beds'][i][:redfin_df['# of Beds'][i].find(' ')]
    redfin_df['# of Baths'][i] = redfin_df['# of Baths'][i][:redfin_df['# of Baths'][i].find(' ')]
    redfin_df['Price'][i] = redfin_df['Price'][i].replace('$', '')
    redfin_df['Price'][i] = redfin_df['Price'][i].replace(',', '')
    redfin_df['sqft'][i] = redfin_df['sqft'][i][:redfin_df['sqft'][i].find(' ')]
    redfin_df['sqft'][i] = redfin_df['sqft'][i].replace(',', '')
    
redfin_df['# of Beds'] = redfin_df['# of Beds'].astype(float)
redfin_df['# of Baths'] = redfin_df['# of Baths'].astype(float)
redfin_df['Price'] = redfin_df['Price'].astype(int)
redfin_df['sqft'] = redfin_df['sqft'].astype(int)

redfin_df

<ipython-input-9-0e5309e02ffa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['City'][i] = redfin_df['City'][i][: -4]
<ipython-input-9-0e5309e02ffa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['# of Beds'][i] = redfin_df['# of Beds'][i][:redfin_df['# of Beds'][i].find(' ')]
<ipython-input-9-0e5309e02ffa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['# of Baths'][i] = redfin_df['# of Baths'][i][:redfin_df['# of Baths'][i].find(' ')]
<ipython-input-9-0e5309e02ffa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['Price'][i] = redfin_df['Price'][i].replace('$', '')
<ipython-input-9-0e5309e02ffa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['Price'][i] = redfin_df['Price'][i].replace(',', '')
<ipython-input-9-0e5309e02ffa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['sqft'][i] = redfin_df['sqft'][i][:redfin_df['sqft'][i].find(' ')]
<ipython-input-9-0e5309e02ffa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['sqft'][i] = redfin_df['sqft'][i].replace(',', '')

ValueError: invalid literal for int() with base 10: '420990+'

In [ ]:
hf_df = hf_df.loc[hf_df['Price'] >= 10000]
hf_df = hf_df.loc[hf_df['# of Beds'] != 0]
hf_df = hf_df.loc[hf_df['# of Baths'] != 0]

hf_df

In [ ]:
hf_sq = [None] * 2954
tru_zip = [None] * 240

hf_df['sqft'] = hf_sq
trulia_df['Zip Code'] = tru_zip

trulia_df

In [ ]:
hf_df = hf_df[['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds', '# of Baths']]
trulia_df = trulia_df[['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds', '# of Baths']]
redfin_df = redfin_df[['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds', '# of Baths']]

redfin_df.columns, trulia_df.columns, hf_df.columns

In [ ]:
dfs = [hf_df, trulia_df, redfin_df]
all_dfs = pd.concat([df.squeeze() for df in dfs], ignore_index=True)

all_dfs

In [ ]:
all_dfs = all_dfs.drop(all_dfs.loc[all_dfs['Address'].duplicated() == True].index)

In [ ]:
all_dfs = all_dfs[all_dfs['Address'].notna()]

In [ ]:
all_dfs.to_csv("Final_DataFrame.csv")